
<div class="f mB25">
  <div class="c4 s12 pLa10">
    <div class="ui floating search dropdown button" id='chooseQari'>
      <i class="sf-microphone"></i>
      <span class="text">
        <img src="{{qariLoaded.image}}" class="avatar">
        <span>{{qariLoaded.qari}}</span>
        <span class="type">{{qariLoaded.type_title}}</span>
      </span>
      <div class="menu">
        <div class="header">{%trans "Change Qari"%}</div>
{%for key, value in qariList%}
          <a class="item" href="{{value.url}}">
            <img src="{{value.image}}" class="avatar">
            <span>{{value.qari}}</span>
            <span class="type">{{value.type_title}}</span>
          </a>
{%endfor%}
      </div>
    </div>
  </div>

  <div class="c4 s12 pLa10">
    <div class="ui floating search dropdown button" id='chooseQari'>
      <i class="sf-language"></i>
      <span class="text">
        <img src="{{qariLoaded.image}}" class="avatar">
        <span>{{qariLoaded.qari}}</span>
        <span class="type">{{qariLoaded.type_title}}</span>
      </span>
      <div class="menu">
        <div class="header">{%trans "Change Qari"%}</div>
{%for key, value in translationList%}
          <a class="item" href="{{value.url}}">
            <i class="flag {{value.flag}}"></i>
            <span>{{value.localname}}</span>
            <span class="type">{{value.language_name}}</span>
          </a>
{%endfor%}
      </div>
    </div>
  </div>



  <div class="cauto os">
    <a href='{{url.kingdom}}' class="btn block secondary outline"><span class="compact mRa5 sf-eject"></span>{%trans "Back to list of suras"%}</a>
  </div>

</div>


{%for key, myAye in suraDetail%}
<span class="badge"></span>
{%endfor%}




