
<div class="f fullCommand">
  <div class="c3 s12">
    <div class="ui floating search dropdown button" id='chooseQari'>
      <i class="sf-microphone"></i>
      <span class="text">
        <img src="{{qariLoaded.image}}" class="avatar">
        <span>{{qariLoaded.qari}}</span>
        <span class="type">{{qariLoaded.type_title}}</span>
      </span>
      <div class="menu">
        <div class="header">{%trans "Change Qari"%}</div>
{%for key, value in qariList%}
          <a class="item" href="{{value.url}}">
            <img src="{{value.image}}" class="avatar">
            <span>{{value.qari}}</span>
            <span class="type">{{value.type_title}}</span>
          </a>
{%endfor%}
      </div>
    </div>
  </div>

  <div class="c3 s12">
    <div class="ui floating search dropdown button" id='chooseTranslate'>
      <i class="sf-language"></i>
      <span class="text">
        <img src="{{qariLoaded.image}}" class="avatar">
        <span>{{qariLoaded.qari}}</span>
        <span class="type">{{qariLoaded.type_title}}</span>
      </span>
      <div class="menu">
        <div class="header">{%trans "Change Translation"%}</div>
{%for key, myTrans in translationList%}
    <div class="header"><i class="tags icon"></i>{{myTrans.detail.language_name}} <i class="flag {{myTrans.detail.flag}}"></i></div>
{%for k, v in myTrans.list%}
          <a class="item" href="{{v.url}}">
            <i class="flag {{v.flag}}"></i>
            <span>{{v.localname}}</span>
          </a>
{%endfor%}


{%endfor%}
      </div>
    </div>
  </div>

  <div class="c2 s6">
    <div class="ui floating search dropdown button" id='chooseReadMode'>
      <i class="sf-monitor-screen-1"></i>
      <span class="text">
        <img src="{{qariLoaded.image}}" class="avatar">
        <span>{{qariLoaded.qari}}</span>
        <span class="type">{{qariLoaded.type_title}}</span>
      </span>
      <div class="menu">
        <div class="header">{%trans "Change Read Mode"%}</div>
{%for key, value in translationList%}
          <a class="item" href="{{value.url}}">
            <i class="flag {{value.flag}}"></i>
            <span>{{value.localname}}</span>
            <span class="type">{{value.language_name}}</span>
          </a>
{%endfor%}
      </div>
    </div>
  </div>

  <div class="c2 s6">
    <div class="ui floating search dropdown button" id='chooseStyle'>
      <i class="sf-font"></i>
      <span class="text">
        <img src="{{qariLoaded.image}}" class="avatar">
        <span>{{qariLoaded.qari}}</span>
        <span class="type">{{qariLoaded.type_title}}</span>
      </span>
      <div class="menu">
        <div class="header">{%trans "Change Style"%}</div>
{%for key, value in translationList%}
          <a class="item" href="{{value.url}}">
            <i class="flag {{value.flag}}"></i>
            <span>{{value.localname}}</span>
            <span class="type">{{value.language_name}}</span>
          </a>
{%endfor%}
      </div>
    </div>
  </div>

  <div class="c2">
    <a class="btn fs12 mTB5" href=""><i class="block sf-search-plus"></i></a>
    <a class="btn fs12 mTB5" href=""><i class="block sf-search-minus"></i></a>
  </div>

  <div class="c os">
    <a href='{{url.kingdom}}' class="btn block secondary outline mTB5"><span class="compact mRa5 sf-eject"></span>{%trans "Back to list of suras"%}</a>
  </div>

</div>


{%for key, myAye in suraDetail%}
<span class="badge"></span>
{%endfor%}




