
<div class="f fullCommand">
  <div class="c3 s12">
{%include 'content/home/block-cmd-qari.html'%}
  </div>

  <div class="cauto s12">
{%include 'content/home/block-cmd-translator.html'%}
  </div>

  <div class="c2 s6">
{%include 'content/home/block-cmd-mode.html'%}
  </div>

  <div class="c2 s6">
{%include 'content/home/block-cmd-style.html'%}
  </div>

  <div class="c">
{%include 'content/home/block-cmd-extra.html'%}
  </div>

</div>


{%for key, myAye in suraDetail%}
<span class="badge"></span>
{%endfor%}




