
<div class="f mB25">
  <div class="c4 s12 pLa10">
    <div class="ui floating dropdown button" id='chooseQari'>
      <i class="sf-microphone"></i>
      <span class="text">
        <img src="{{qariLoaded.image}}" class="avatar">
        <span>{{qariLoaded.qari}}</span>
        <span class="type">{{qariLoaded.type_title}}</span>
      </span>
      <div class="menu">
        <div class="header">{%trans "Change Qari"%}</div>
{%for key, value in qariList%}
          <a class="item" href="{{value.url}}">
            <img src="{{value.image}}" class="avatar">
            <span>{{value.qari}}</span>
            <span class="type">{{value.type_title}}</span>
          </a>
{%endfor%}
      </div>
    </div>
  </div>
  <div></div>

</div>


<h4 data-kerkere='.soreDetail' data-kerkere-icon='close'>{%trans "Detail"%}</h4>
<div class="soreDetail" data-kerkere-content='hide'>
Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
</div>


{%for key, myAye in suraDetail%}
<span class="badge"></span>
{%endfor%}

<br>
<h6>{%trans "Translation"%}</h6>
{%for key, myAye in translationList%}
<span class="btn primary"><a href="{{url.this}}?t={{myAye.language}}{{myAye.index}}">{{myAye.localname}}</a></span>
{%endfor%}

<div class='f'>
  <div class='c'></div>
  <div class='cauto os'>
    <a href='{{url.kingdom}}' class="btn block mTB10">{%trans "List of soreha"%}</a>
  </div>
</div>




{%if qariList%}
<h5 data-kerkere='.tableQariList' data-kerkere-icon>{%trans "Qari list"%}</h5>
<table class="tbl1 v2 tableQariList" data-kerkere-content='hide'>
  <thead>
    <tr>
      <th>name</th>
      <th>qari</th>
      <th>{%trans "Play"%}</th>
    </tr>
  </thead>
  <tbody>
    {%for key, value in qariList%}
      <tr>
        <td><img src="{{value.image}}" class="avatar"></td>
        <td>{{value.name}}</td>
        <td>{{value.qari}}</td>
        <td><a href="{{url.this}}?qari={{key}}"><i class="sf-play"></i></a></td>
      </tr>
    {%endfor%}
  </tbody>
</table>

{%endif%}


