{%extends display.mvc%}



{%block body%}

<div id="page">
	<header id="header">
		<a href="#menu" id='sidebarHandler' data-action><span></span></a>
	</header>

	<div class="cn">
	{%include 'content/home/list-sore.html'%}
	</div>

	<nav id="menu">
		<div id="panel-menu">
			<ul>
				<li><a href="#/">Home</a></li>
				<li><span>About us</span>
					<ul>
						<li><a href="#/">History</a></li>
						<li><span>The team</span>
							<ul>
								<li><a href="#/">Management</a></li>
								<li><a href="#/">Sales</a></li>
								<li><a href="#/">Development</a></li>
							</ul>
						</li>
						<li><a href="#/">Our address</a></li>
					</ul>
				</li>
				<li><a href="#/">Contact</a></li>

				<li class="Divider">Other demos</li>
				<li><a href="default.html">Default demo</a></li>
				<li><a href="onepage.html">One page demo</a></li>
			</ul>
		</div>
	</nav>

</div>




<footer id="footer">
	<div class="cn">

	</div>
</footer>
{%endblock%}

