{%extends display.mvc%}



{%block body%}

<div id="page">
	<header id="header" class="f">
		<div class='sidenavHandler cauto'><span></span></div>
		<div class="c">
			<h1>
				<a href="{{url.kingdom}}" title='{{site.desc}}'>{{site.title}}</a>
			</h1>

		</div>
		<nav class="cauto os">
			<a href="{{url.kingdom}}/mag">{%trans "Magazine"%}</a>
			<a href="{{url.kingdom}}/audio">{%trans "Audio"%}</a>
			<a href="{{url.kingdom}}/namaz">{%trans "Namaz"%}</a>
			<a href="{{url.kingdom}}/enter" class="btn outline primary" title='{%trans "Enter to your account and use SalamQuran account features"%}'>{%trans "Enter"%}</a>
		</nav>
	</header>

	<div class="cn">
	{%include 'content/home/list-sore.html'%}
	</div>

	<footer id="footer">
		<div class="cn">

		</div>
	</footer>
</div>

<aside id="sidebar">
	<nav class="always">
		<div class="top">
			<div class='sidenavHandler'><span></span></div>
			<a href="{{url.kingdom}}" title='{%trans "Homepage"%}'><span class="sf-home"></span><span class="hide">{%trans "Homepage"%}</span></a>
		</div>

		<footer>
{%if social.twitter or 1%}
		<a data-direct target='_blank' href="https://twitter.com/{{social.twitter}}" class="sf-twitter" title='{%trans "Twitter"%}'><span class="hide">{{site.title}} twitter</span></a>
{%endif%}
{%if social.facebook or 1%}
		<a data-direct target='_blank' href="https://www.facebook.com/{{social.facebook}}" class="sf-facebook-official" title='{%trans "Facebook"%}'><span class="hide">{{site.title}} facebook</span></a>
{%endif%}
{%if social.telegram or 1%}
		<a data-direct target='_blank' href="https://t.me/{{social.telegram}}" class="sf-paper-plane" title='{%trans "Telegram"%}'><span class="hide">{{site.title}} telegram</span></a>
{%endif%}
{%if social.instagram or 1%}
		<a data-direct target='_blank' href="https://instagram.com/{{social.instagram}}" class="sf-instagram" title='{%trans "Instagram"%}'><span class="hide">{{site.title}} instagram</span></a>
{%endif%}
{%if social.linkedin or 1%}
		<a data-direct target='_blank' href="https://www.linkedin.com/{{social.linkedin}}" class="sf-linkedin" title='{%trans "Linkedin"%}'><span class="hide">{{site.title}} linkedin</span></a>
{%endif%}

		</footer>
	</nav>
	<nav class="menu">
		<ul>
			<li><a href="{{url.kingdom}}">{{site.title}}</a></li>
			<li><a href="{{url.kingdom}}/about">{%trans "About"%}</a></li>
			<li><a href="{{url.kingdom}}/contact">{%trans "Contact"%}</a></li>
			<li><a href="{{url.kingdom}}/vision">{%trans "Vision"%}</a></li>
		</ul>
	</nav>
</aside>



{%endblock%}

