{%extends display.mvc%}



{%block body%}

<header id="header">
	<a href="#menu" id='sidebarHandler'><span></span></a>
</header>

<nav id="menu">
	<ul>
		<li><a href="#">Home</a></li>
		<li><span>About us</span>
			<ul>
				<li><a href="#about/history">History</a></li>
				<li><span>The team</span>
					<ul>
						<li><a href="#about/team/management">Management</a></li>
						<li><a href="#about/team/sales">Sales</a></li>
						<li><a href="#about/team/development">Development</a></li>
					</ul>
				</li>
				<li><a href="#about/address">Our address</a></li>
			</ul>
		</li>
		<li><a href="#contact">Contact</a></li>

		<li class="Divider">Other demos</li>
		<li><a href="advanced.html">Advanced demo</a></li>
		<li><a href="onepage.html">One page demo</a></li>
	</ul>
</nav>




<div class="cn">
{%include 'content/home/list-sore.html'%}

</div>




<footer id="footer">
	<div class="cn">

	</div>
</footer>
{%endblock%}

