<div class='Quran'>

{%for key, value in sura%}

{%if loop.index == 1%}
{%if value.sura == 1%}
{%else%}
  <div class='besmellah'>بِسْمِ ٱللَّهِ ٱلرَّحْمَٰنِ ٱلرَّحِيمِ</div>
{%endif%}
{%endif%}

  <div class='ayeBox msg' id='{{value.aya}}'>
    <div class='aye'>
      <span class='text' data-kerkere='[data-aye-meta="{{value.aya}}"]'>{{value.text}}</span>
      <a class='ayeNum' href='{{url.kingdom}}/{{value.sura}}#{{value.aya}}'>﴿{{value.aya | fitNumber}}﴾</a>
    </div>
    {%if translateList[value.index]['text']%}
    <p>{{translateList[value.index]['text']}}</p>
    {%endif%}
    <div class='meta' data-aye-meta='{{value.aya}}'>
      <abbr title='{%trans "Quran"%} - {%trans "Sore"%}{{value.sura}} {{value.suraName}} - {%trans "Aye"%}{{value.aya}}'>{{value.simple}}</abbr>
    </div>

  </div>
{%endfor%}

</div>

{%for key, value in suraDetail%}
<span class="badge">{{key}} : {{value}}</span>
{%endfor%}

<br>
<h6>{%trans "Translation"%}</h6>
{%for key, value in translationList%}
<span class="btn primary"><a href="{{url.this}}?t={{value.language}}{{value.index}}">{{value.localname}}</a></span>
{%endfor%}

<div class='f'>
  <div class='c'></div>
  <div class='cauto os'>
    <a href='{{url.kingdom}}' class="btn block mTB10">{%trans "List of soreha"%}</a>
  </div>
</div>
