<div class='Quran'>
{%include 'content/home/block-detail.html'%}
{%include 'content/home/block-navigation.html'%}


{%for myAyeKey, myAye in quranLoaded.text.aya%}
      {%include 'content/home/block-besmellah.html'%}
  <div class='ayeBox f fix' id='{{myAye.detail.index}}' data-ayeAudio='{{myAye.detail.audio}}'>
    <div class="cauto s12 pLa10">
{%include 'content/home/block-ayeActions.html'%}
    </div>
    <div class="c s12">
{%include 'content/home/block-aye.html'%}
{%include 'content/home/block-ayeSimple.html'%}
{%include 'content/home/block-ayeTranslation.html'%}
    </div>

  </div>
{%endfor%}

</div>

