<div class='Quran'>

{%for myAyeKey, myAye in quranLoaded.text.aya%}
      {%include 'content/home/block-besmellah.html'%}
  <div class='ayeBox f' id='{{myAye.detail.verse_key}}'>
    <div class="c">
{%include 'content/home/block-aye.html'%}
{%include 'content/home/block-ayeSimple.html'%}
{%include 'content/home/block-ayeTranslation.html'%}
    </div>
    <div class="cauto pLa10">
{%include 'content/home/block-ayeActions.html'%}
    </div>

  </div>
{%endfor%}


</div>

{%if old_false%}
<div class='Quran'>

{%for key, myAye in sura%}

{%if loop.index == 1%}
{%if myAye.sura == 1%}
{%else%}
  <div class='besmellah'>بِسْمِ ٱللَّهِ ٱلرَّحْمَٰنِ ٱلرَّحِيمِ</div>
{%endif%}
{%endif%}

  <div class='ayeBox msg' id='{{myAye.aya}}'>
    <div class='aye'>
      <span class='text' data-kerkere='[data-aye-meta="{{myAye.aya}}"]'>{{myAye.text}}</span>
      <a class='ayeNum' href='{{url.kingdom}}/{{myAye.sura}}#{{myAye.aya}}'>﴿{{myAye.aya | fitNumber}}﴾</a>
    </div>
    {%if translateList[myAye.index]['text']%}
    <p>{{translateList[myAye.index]['text']}}</p>
    {%endif%}
    <div class='meta' data-aye-meta='{{myAye.aya}}'>
      <abbr title='{%trans "Quran"%} - {%trans "Sore"%}{{myAye.sura}} {{myAye.suraName}} - {%trans "Aye"%}{{myAye.aya}}'>{{myAye.simple}}</abbr>
    </div>

  </div>
{%endfor%}

</div>
{%endif%}




{%for key, myAye in suraDetail%}
<span class="badge">{{key}} : {{myAye}}</span>
{%endfor%}

<br>
<h6>{%trans "Translation"%}</h6>
{%for key, myAye in translationList%}
<span class="btn primary"><a href="{{url.this}}?t={{myAye.language}}{{myAye.index}}">{{myAye.localname}}</a></span>
{%endfor%}

<div class='f'>
  <div class='c'></div>
  <div class='cauto os'>
    <a href='{{url.kingdom}}' class="btn block mTB10">{%trans "List of soreha"%}</a>
  </div>
</div>
