<div class='Quran bookTxt'>


{%for key, value in sura%}

{%if loop.index == 1%}
{%if value.sura == 1%}
{%else%}
  <div class='besmellah'>بِسْمِ ٱللَّهِ ٱلرَّحْمَٰنِ ٱلرَّحِيمِ</div>
{%endif%}
{%endif%}

  <div class='ayeBox' id='{{value.aya}}'>
    <div class='aye'>
      <span class='text'>{{value.text}}</span>
      <a class='ayeNum' href='{{url.kingdom}}/{{value.sura}}#{{value.aya}}'>﴿{{value.aya | fitNumber}}﴾</a>
    </div>
  </div>
{%endfor%}
</div>

<div class='f'>
  <div class='c'></div>
  <div class='cauto os'>
    <a href='{{url.kingdom}}' class="btn block mTB10">{%trans "List of soreha"%}</a>
  </div>
</div>
