<div class='Quran' id="iqra">
{%include 'content/home/blocks/block-cmd.html'%}
{%include 'content/home/blocks/block-navigation.html' with {'navPosition': 'top'}%}


{%for key, value in quranLoaded.text.page1%}
  {%for page_number, page_line in value%}
  <div class='readerMode'>

    <div class='aye-line block'>
      {%for k, v in page_line.word%}
        <span class='compact {{v.class_name}}'>{{v.code | raw}}</span>
      {%endfor%}
    </div>

  </div>
  {%endfor%}
{%endfor%}


{%include 'content/home/blocks/block-navigation.html' with {'navPosition': 'bottom'}%}
{%include 'content/home/blocks/block-sura-pagination.html'%}
</div>
