<div class='Quran' id="iqra" data-style='{{pageStyle}}' data-mode='{{pageMode}}'>
{%include 'content/home/blocks/block-cmd.html'%}
{%include 'content/home/blocks/block-navigation.html' with {'navPosition': 'top'}%}


{%if requestGET.mode == 'onepage' or not requestGET.mode %}
      {%include 'content/home/theme-onePage.html'%}

{%elseif requestGET.mode == 'twopage'%}
      {%include 'content/home/theme-twoPage.html'%}

{%elseif requestGET.mode == 'aye'%}
      {%include 'content/home/theme-ayeBox.html'%}

{%endif%}


{%include 'content/home/blocks/block-navigation.html' with {'navPosition': 'bottom'}%}
{%include 'content/home/blocks/block-sura-pagination.html'%}
</div>

