{%include 'content/home/blocks/block-cmd.html'%}
{%include 'content/home/blocks/block-navigation.html' with {'navPosition': 'top'}%}

<div class='Quran' id="iqra" data-style='{{pageStyle}}' data-mode='{{pageMode}}'>

{%if requestGET.mode == 'onepage' or not requestGET.mode %}
      {%include 'content/home/theme-onePage.html'%}

{%elseif requestGET.mode == 'twopage'%}
      {%include 'content/home/theme-twoPage.html'%}

{%elseif requestGET.mode == 'translatepage'%}
      {%include 'content/home/theme-translatePage.html'%}

{%elseif requestGET.mode == 'aye'%}
      {%include 'content/home/theme-ayeBox.html'%}

{%endif%}

</div>

{%include 'content/home/blocks/block-navigation.html' with {'navPosition': 'bottom'}%}
{%include 'content/home/blocks/block-sura-pagination.html'%}

