<div class='Quran' id="iqra">
{%include 'content/home/blocks/block-cmd.html'%}
{%include 'content/home/blocks/block-navigation.html' with {'navPosition': 'top'}%}


{%if requestGET.mode == 'onepage'%}
      {%include 'content/home/theme-onePage.html'%}

{%elseif requestGET.mode == 'twopage'%}
      {%include 'content/home/theme-twoPage.html'%}

{%else%}
      {%include 'content/home/theme-ayeBox.html'%}

{%endif%}


{%include 'content/home/blocks/block-navigation.html' with {'navPosition': 'bottom'}%}
{%include 'content/home/blocks/block-sura-pagination.html'%}
</div>

