
{%for myAyeKey, myAye in quranLoaded.text.aya%}
      {%include 'content/home/blocks/block-besmellah.html'%}
  <div class='ayeBox f fix' id='{{myAye.detail.index}}'>
    <div class="cauto s12 pR10">
{%include 'content/home/blocks/block-ayeActions.html'%}
    </div>
    <div class="c s12">
{%if uthmani == 'uthmani'%}
  {%include 'content/home/blocks/block-aye-uthmani.html'%}
{%else%}
  {%include 'content/home/blocks/block-aye-text.html'%}
{%endif%}

     {%include 'content/home/blocks/block-ayeSimple.html'%}

{%include 'content/home/blocks/block-ayeTranslation.html'%}
    </div>

  </div>
{%endfor%}
