<div class="f">
	<div class="c6 s12">

		{%for key, value in quranLoaded.text.page1%}
		<!-- load page number once for each page -->
		  <div class='readerMode {%if pageStyle == "uthmani"%}{{quranLoaded.detail.page1.class}}{%endif%}'>
		{%for page_number, page_line in value%}

		{%if page_line.detail.char_type == 'besmellah'%}
			<div>بسم الله الرحمن الرحیم</div>
		{%elseif page_line.detail.char_type == 'start_sura'%}
			<div>{{page_line.detail.name}}</div>
		{%else%}
		    <div class='ayeLine'>
			{%for myWord in page_line.word%}
{%include 'content/home/blocks/block-aye-words.html'%}
			{%endfor%}
		    </div>
		{%endif%}
		{%endfor%}

		  </div>
		{%endfor%}

	</div>

	<div class="c6 s12">

		{%for key, value in quranLoaded.text.page2%}
		<!-- load page number once for each page -->
		  <div class='readerMode {%if pageStyle == "uthmani"%}{{quranLoaded.detail.page2.class}}{%endif%}'>
		{%for page_number, page_line in value%}

		{%if page_line.detail.char_type == 'besmellah'%}
			<div>بسم الله الرحمن الرحیم</div>
		{%elseif page_line.detail.char_type == 'start_sura'%}
			<div>{{page_line.detail.name}}</div>
		{%else%}
		    <div class='ayeLine'>
			{%for myWord in page_line.word%}
{%include 'content/home/blocks/block-aye-words.html'%}
			{%endfor%}
		    </div>
		{%endif%}
		{%endfor%}

		  </div>
		{%endfor%}

	</div>
</div>
