    <div class="ui floating dropdown button" id='chooseTranslate'>
      <i class="sf-language"></i>
      <span class="text"><span>{%trans "Add Translations"%}</span></span>
      <div class="menu">
        <div class="header">{%trans "Add new translation"%}</div>
{%for key, myTrans in translationList%}
        <div class="header lang"><i class="compact mRa5-f flag {{myTrans.detail.flag}}"></i><span>{{myTrans.detail.language_name}}</span></div>
{%for k, v in myTrans.list%}
        <a class="item" href="{{v.url}}">{%if v.image%}<img src="{{v.image}}" alt="{{v.localname}}" class="avatar">{%endif%}<span>{{v.localname}}</span></a>
{%endfor%}
{%if false and myTrans.detail.count > 1%}
        <a class="item" href="{{myTrans.detail.allLink.link}}">
          <i class="hide flag {{myTrans.detail.flag}}"></i><span>{%trans "All Translations"%} {{myTrans.detail.language_name}}</span>
        </a>
{%endif%}
{%endfor%}
      </div>
    </div>