{%if pageStyle == 'uthmani'%}
{%if myWord.char_type == 'end'%}
	      <i data-i='{{myWord.index}}' class='ayeNum' title='{{myWord.verse_title}}' data-qiraat='{{myWord.audio}}'>{{myWord.code | raw}}</i>
{%else%}
	      <i data-i='{{myWord.index}}' id='w{{myWord.audio_key}}' {%if requestGET.wbwt%} title='{{myWord.translation}}'{%endif%}>{{myWord.code | raw}}</i>
{%endif%}
{%elseif pageStyle == 'noorehuda'%}
{%if myWord.char_type == 'end'%}
	      <i data-i='{{myWord.index}}' class='ayeNum' title='{{myWord.verse_title}}' data-qiraat='{{myWord.audio}}'>{{myWord.aya | fitNumber}}</i>
{%else%}
	      <i data-i='{{myWord.index}}' id='w{{myWord.audio_key}}' {%if requestGET.wbwt%} title='{{myWord.translation}}'{%endif%}>{{myWord.text}}</i>
{%endif%}
{%else%}
{%if myWord.char_type == 'end'%}
	      <i data-i='{{myWord.index}}' class='ayeNum' title='{{myWord.verse_title}}' data-qiraat='{{myWord.audio}}'>﴿{{myWord.aya | fitNumber}}﴾</i>
{%else%}
	      <i data-i='{{myWord.index}}' id='w{{myWord.audio_key}}' {%if requestGET.wbwt%} title='{{myWord.translation}}'{%endif%}>{{myWord.text}}</i>
{%endif%}
{%endif%}