
<div class="f align-center fix txtC mTB25">
  <div class="c sauto os txtL">
{%if quranLoaded.detail.prev%}
    <a class="btn outline" href="{{quranLoaded.detail.prev.url}}">
      <i class="compact floatL mR10 sf-chevron-left"></i>
      <span class="s0">{{quranLoaded.detail.prev.title}}</span>
      <span class="badge mLR5">{{quranLoaded.detail.prev.index | fitNumber}}</span>
      <span class="s0">{{quranLoaded.detail.prev.subtitle}}</span>
    </a>
{%endif%}
  </div>

  <div class="c">
{%if navPosition == 'top'%}
    <a class="link" href="{{url.pwd}}"><span class="icon-surah{{quranLoaded.detail.index}}"></span></a>

{%elseif navPosition == 'bottom'%}
    <a class="btn outline" href="{{quranLoaded.detail.beginning.link}}#iqra">
      <span class="compact mRa5 sf-eject"></span>
      <span class="s0">{{quranLoaded.detail.beginning.title}}</span>
    </a>
    <a href='{{url.kingdom}}' class="btn outline">
      <span class="compact mRa5 sf-level-up"></span>
      <span class="s0">{%trans "Back to list of suras"%}</span>
    </a>
{%endif%}
  </div>

  <div class="c sauto txtR">
{%if quranLoaded.detail.next%}
    <a class="btn outline" href="{{quranLoaded.detail.next.url}}">
      <span class="s0">{{quranLoaded.detail.next.title}}</span>
      <span class="badge mLR5">{{quranLoaded.detail.next.index | fitNumber}}</span>
      <span class="s0">{{quranLoaded.detail.next.subtitle}}</span>
      <i class="compact floatR mL10 sf-chevron-right"></i>
    </a>
{%endif%}
  </div>
</div>

