
  <header id="header" data-scroll>
    <div class="cn">
      <nav class="f topnav">
        <div class="cauto">
          <h1>
            <a href="{{url.kingdom}}" title='{{site.desc}}'>{{site.title}}</a>
          </h1>
        </div>
        <div class="c os links txtRa">
          <div class='sidenavHandler cauto'><span></span></div>
          <a href="{{url.kingdom}}/mag">{%trans "Magazine"%}</a>
          <a href="{{url.kingdom}}/about">{%trans "About"%}</a>
          <!-- <a href="{{url.kingdom}}/audio">{%trans "Audio"%}</a> -->
          <!-- <a href="{{url.kingdom}}/namaz">{%trans "Namaz"%}</a> -->
{%if login.id%}
          <a href="{{url.kingdom}}/a" class="special">{%trans "Panel"%}</a>
{%else%}
          <a href="{{url.kingdom}}/enter" class="special" title='{%trans "Enter to your account and use SalamQuran account features"%}'>{%trans "Enter"%}</a>
{%endif%}
        </div>
      </nav>
{%block pageTitle%}
      <section class='topTitle' data-xhr='topTitle'>
        <h2>{{page.title}}</h2>
        <h3>{{page.desc}}</h3>
      </section>
{%endblock%}
    </div>
  </header>
