  <div class='player f align-center {%if not sureLoaded%}nothing{%endif%}'>
    <figure class="cauto">
      <a class="qari" href="{{url.pwd}}#chooseQari">
        <img src="{{qariLoaded.image}}" alt="qari">
        <figcaption>
          <div class="title">Quran</div>
          <div class="meta">
            <span class="artist">{{qariLoaded.qari}}</span>
            <span class="album">{{qariLoaded.type}}</span>
          </div>
        </figcaption>
      </a>
    </figure>
    <div class="c">
      <audio controls preload id="talavat" controlsList="nodownload">
        <source src="{{qariLoaded.addr}}001001.{{qariLoaded.audio_type}}" type="{%if qariLoaded.audio_type== 'ogg'%}audio/ogg{%else%}audio/mpeg{%endif%}">
      </audio>
    </div>
  </div>