{%extends display.main%}


{%block page%}

   <p>{%trans "Utilizing SalamQuran's services means the acceptance of and commitment to observing all the tenors of this agreement."%}</p>

   <ul class="list mB50-f">
    <li>{%trans "It is worth mentioning that due to the insecurity of cyberspace, you should never post your vital information on either SalamQuran or any other services!"%}</li>

    <li>{%trans "User's personal information is strictly confidential in our service. SalamQuran preserves the information as encoded and will not under any conditions transfer it to another person."%}</li>

    <li>{%trans "In case there is a request for receiving user's information by the competent authorities, according to the country the user lives in, SalamQuran will cooperate with them only upon receiving the judicial order issued by the country submitting the request."%}</li>


    <li>{%trans "Users should assume responsibility for any harm, both material and immaterial, caused by direct, indirect or penal factors and due to their utilization of this service; and, SalamQuran bears no responsibility accordingly."%}</li>

    <li>{%trans "SalamQuran accepts no responsibility, under any conditions, for the harms caused by users' mutual trust in each other or by the disclosure of information by users."%}</li>

    <li>{%trans "SalamQuran will do its best to protect both the users' information and the service; however, regarding the lack of certainty within the cyberspace, it will not assume any responsibility for the loss of the information entered on the service."%}</li>

    <li>{%trans "We will publicize our information and news only via SalamQuran's formal website. Accordingly, those who publicize any attributed news and claims, within social media and networks, must assume the responsibility and SalamQuran will not assume any responsibility."%}</li>

    <li>{%trans "SalamQuran will bear no responsibility for whatsoever messages sent to users, including those indicating winning a lottery, and all our information dissemination will be through the ways of SalamQuran's contact with users."%}</li>

    <li>{%trans "Any misuse of SalamQuran's trade name is prohibited and will be suable by making a complaint to the legal competent authorities."%}</li>

    <li>{%trans "Furthermore, this agreement, under the name Terms and Conditions, will be available and observable, in all pages of the website. Users will be responsible for a lack of information on the most recent changes."%}</li>

   </ul>

   <p class="msg primary txtC">{%trans "It should be mentioned that in case there would be any modifications in the above-mentioned tenors, an updated version will be available for the public, and as well, all the users will be informed."%}</p>

{%endblock%}

