
// Quran
.Quran{

}
.Quran i{
	font-weight: 400;
	font-style: normal;
    display: inline-block;
    padding:0 1px;
    transition: 0.3s;
    border-bottom: 1px solid transparent;
}
.Quran i[title], .Quran i[data-tippy-title]{
    cursor: help;
}
.Quran i:hover{
    color:#07b7dd;
    border-bottom-color:#999;
}
.Quran[data-style='uthmani'] i{
    padding:0;
}
.Quran[data-style='iransans'] .ayeNum{
    font-family: "Traditional Arabic", "Times New Roman";
    letter-spacing: 2px;
    color: #777;
}

.ayeSimple{
    direction: rtl;
    text-align: right;
    display: none;
}
.quranNav{
	text-align: center;
	margin: 25px 0;
	user-select: none;
}
// Quran design like book
.Quran.bookTxt{
	max-width: 412px;
	margin: 0 auto;
	text-align: justify;
}
.Quran.bookTxt .ayeBox{
	display: inline;
}
.Quran.bookTxt .ayeBox .aye{
	display: inline;
}
.Quran.bookTxt .ayeBox .aye:hover{
	background-color: initial;
}
.Quran .readerMode{
	font-size: 2em;
	line-height: 1.7em;
	direction: rtl;
	text-align: center;
}

