{%extends display.main%}


{%block page%}
	{{block('quoteQuran')}}

	<blockquote cite="http://en.wikishia.net/view/Quran">{%trans "The Qur'ān (Arabic: القرآن) is the Muslim sacred scripture, believed to be revealed by God to Prophet Muhammad through Jibril (Gabriel) during 23 years;"%} {%trans "the Prophet recited it to a group of his companions and scribes of revelation wrote it down under direct and constant supervision of the Prophet."%}</blockquote>

    <blockquote cite="https://en.wikipedia.org/wiki/Quran">{%trans "Muslims regard the Quran as Muhammad's most important miracle, a proof of his prophethood, and the culmination of a series of divine messages starting with those revealed to Adam and ending with Muhammad."%}</blockquote>


    <p class="msg success mT25 fs14 txtC">{%trans "Salam Quran is created to share Quran for anyone anywhere anytime."%}</p>

{%endblock%}



{%block quoteQuran%}
<section class="quoteTile">
   <blockquote class="quoteBox1">
    <p>{%trans "Indeed I am leaving two things among you, to which if you hold yourself, you will never astray: the book of Allah –who is all mighty and great- and my ahl al-bayt (household), my 'itra (family). O people hear! And I have announced to you that: indeed you will enter my presence and I will ask you about what you did to the thaqalayn (two weighty things) and the thaqalayn are the book of Allah and my ahl al-bayt."%}</p>
    <div class="author f">
     <h4 class="c">{%trans "Islamic prophet Muhammad"%}</h4>
     <abbr class="cauto os"><a href='http://en.wikishia.net/view/Hadith_al-Thaqalayn'>{%trans "Hadith al-Thaqalayn"%}</a></abbr>
    </div>
   </blockquote>
</section>
{%endblock%}