{%extends display.main%}



{%block page%}




<div class="tblBox mT100">
  <table class="tbl1 v6">
    <thead>
      <tr>
        <th>{%trans "Qari"%} <small>{%trans "Reader"%}</small></th>
        <th>{%trans "Type"%}</th>
        <th>{%trans "Translation"%}</th>
        <th>{%trans "Sore"%}</th>
        <th>{%trans "Complete"%}</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>AbdulBaset AbdulSamad</td>
        <td>Murattal</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
      </tr>
    </tbody>
  </table>

</div>


{%endblock%}

