{%extends display.main%}



{%block page%}



<div class="f justify-center">
  <div class="c6 s12">
    <div class="tblBox">
      <table class="tbl1 v10 txtC">
        <tbody>
          <tr>
            <td>{%trans "FAJR5"%}</td>
            <td>5:18 <abbr>AM</abbr></td>
          </tr>

          <tr>
            <td>{%trans "SUNRISE"%}</td>
            <td>6:42 <abbr>AM</abbr></td>
          </tr>

          <tr>
            <td>{%trans "DHUHR"%}</td>
            <td>12:20 <abbr>AM</abbr></td>
          </tr>

          <tr>
            <td>{%trans "ASR"%}</td>
            <td>3:30 <abbr>PM</abbr></td>
          </tr>

          <tr>
            <td>{%trans "MAGHRIB"%}
              <br><span class="badge">16 {%trans "Min"%} {%trans "Remain"%}</span>
            </td>
            <td>5:57 <abbr>AM</abbr></td>
          </tr>

          <tr>
            <td>{%trans "ISHA"%}</td>
            <td>7:16 <abbr>AM</abbr></td>
          </tr>

          <tr>
            <td>{%trans "QIYAM"%}</td>
            <td>1:57 <abbr>AM</abbr></td>
          </tr>

        </tbody>
      </table>
    </div>

  </div>
</div>


{%endblock%}

