{%extends display.main%}


{%block page%}

<table class="tbl1 v6 fs09">
 <thead>
  <tr>
   <th>{%trans "Date"%}</th>
   <th>{%trans "Description"%}</th>
   <th></th>
  </tr>
 </thead>
 <tbody>


  <tr>
   <td>{{"2019-06-19" | dt(true)}}</td>
   <td>{%trans "Telegram bot"%}</td>
   <td></td>
  </tr>

  <tr>
   <td>{{"2019-06-09" | dt(true)}}</td>
   <td>{%trans "iOS app"%}</td>
   <td></td>
  </tr>

  <tr>
   <td>{{"2019-05-30" | dt(true)}}</td>
   <td>{%trans "Learning Mechanism"%}</td>
   <td></td>
  </tr>

  <tr>
   <td>{{"2019-05-20" | dt(true)}}</td>
   <td>{%trans "Exam"%}</td>
   <td></td>
  </tr>

  <tr>
   <td>{{"2019-05-10" | dt(true)}}</td>
   <td>{%trans "Android App"%}</td>
   <td></td>
  </tr>

  <tr>
   <td>{{"2019-04-20" | dt(true)}}</td>
   <td>{%trans "Quran Magazine"%}</td>
   <td></td>
  </tr>

  <tr>
   <td>{{"2019-04-10" | dt(true)}}</td>
   <td>{%trans "Quran Audio Database"%}</td>
   <td></td>
  </tr>

  <tr class="active">
   <td>{{"2019-03-11" | dt(true)}}</td>
   <td>{%trans "Website of SalamQuran was Launched."%}</td>
   <td></td>
  </tr>

  <tr>
   <td>{{"2019-12-26" | dt(true)}}</td>
   <td>{%trans "The name of project selected as SalamQuran and <a href='https://SalamQuran.com'>SalamQuran.com</a> domain are registered."%}</td>
   <td></td>
  </tr>

  <tr>
   <td>{{"2019-01-10" | dt(true)}}</td>
   <td>{%trans "Project officially started."%}</td>
   <td></td>
  </tr>

  <tr>
   <td>{{"2019-01-01" | dt(true)}}</td>
   <td>{%trans "Primary studies were done."%}</td>
   <td></td>
  </tr>

  <tr>
   <td>{{"2018-12-17" | dt(true)}}</td>
   <td>{%trans "The project was initiated and the initial agreement was made."%}</td>
   <td></td>
  </tr>

 </tbody>
</table>

<p class="msg pain txtC mT50">{%trans "Be patient..."%}</p>

{%endblock%}

