body{
	min-height: 100%;
	background-color: #fff;
}
#page{
	min-height: 100%;
}
#menu{
	font-size: 1.3em;
}
.loading{
	background-color:#000306;
	height: 100%;
	width: 100%;
	min-height: 100vh;
}
.loading img{
	display:block;
	margin:0 auto;
}


