html{
	min-height: 100%;
	background: linear-gradient( 20deg, rgb(0,215,220) 0%, rgb(10,165,220) 100%);
}
body{
	min-height: 100%;
	background-color: #fff;
	background: linear-gradient( 20deg, rgb(0,215,220) 0%, rgb(10,165,220) 100%);
	background-repeat: no-repeat;
	background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}
#main{
	z-index: 10;
	position: relative;
	background-color: #fff;
}
#page{
	min-height: 100%;
	margin: 0;
}
.wrapper{
	padding: 5rem 0;
	font-size: 1.4em;
	line-height: 1.7em;
}
.rtl .wrapper{
	line-height: 2em;
}
.ltr #page{
	margin-left: 5rem;
}
.rtl #page{
	margin-right: 5rem;
}
#menu{
	font-size: 1.3em;
}
.loading{
	background-color:#000306;
	height: 100%;
	width: 100%;
	min-height: 100vh;
}
.loading img{
	display:block;
	margin:0 auto;
}

#nodes{width: 100%;height: 100%;position: fixed;top: 0;bottom: 0;left: 0;right: 0;overflow: hidden;z-index: 1;}




// Quran
.Quran{
	font-size: 1.4em;
}
.besmellah{
	font-size: 1.5em;
	text-align: center;
	margin-bottom: 2em;
}
.ayeBox{
	margin-bottom: 1em;
}
.ayeBox:hover{
	background-color: rgba(0,200,255,0.05);
}
.ayeBox .aye{
	direction: rtl;
	text-align: right;
	line-height: 2.5em;
	transition: 0.3s;
}
.ayeBox .ayeSimple{
	direction: rtl;
	text-align: right;
	display: none;
}
.ayeBox .aye:hover{
	background-color: rgba(0,200,255,0.05);
}
.ayeBox .ayeNum{
	font-family: "Traditional Arabic", "Times New Roman";
}
.ayeBox .meta{
	display: none;
}
.ayeBox .meta abbr{
	display: none;
}



// Quran design like book
.Quran.bookTxt{
	max-width: 412px;
	margin: 0 auto;
	text-align: justify;
}
.Quran.bookTxt .ayeBox{
	display: inline;
}
.Quran.bookTxt .ayeBox .aye{
	display: inline;
}
.Quran.bookTxt .ayeBox .aye:hover{
	background-color: initial;
}
.Quran .readerMode{
	font-size: 2em;
	line-height: 1.7em;
	direction: rtl;
	text-align: center;
}


.postPreview{}
.postPreview img.thumb{width:200px;height:auto;display:inline-block;margin:0 auto;padding:0;margin:0.5em;border:1px solid transparent;transition:0.3s}
.postPreview img.thumb:hover{border-color:#333}
.postPreview .msg{overflow: hidden;}
.postMainContent{overflow: hidden;}
#lightgallery{text-align:center; margin:2em 0;clear: both;}
#lightgallery a{display: inline-block;max-width:45%;width:100px;margin:0 10px;}
#lightgallery img{margin:0 auto;border:1px solid #ddd;transition:0.3s}
#lightgallery img:hover{border-color:#777}
#lightgallery video{width:200px;max-width:45%; margin:0 auto;}
#lightgallery audio{width:200px;max-width:45%; margin:0 auto;}

.gallery2{text-align:center;}
.gallery2 video{width:500px;max-width:90%;margin:1em auto;display:inline-block;}
.gallery2 audio{width:250px;max-width:90%;margin:1em auto;display:inline-block;}

.postListPreview{width:70%;min-width:280px;margin:0 auto;}
.postListPreview section{border-bottom:1px dashed #ccc;margin-bottom:3em;}
.postListPreview img{}
.postListPreview h3{margin-top:0;}

.tagBox a{padding:0.5em 0.5em;margin:0.5em 0.5em;background-color:#eee;border-radius:3px;transition:0.3s;display:inline-block;}
.tagBox a:hover{background-color:rgba(0,0,0,0.1);}
.tagBox a:focus{background-color:rgba(0,0,0,0.2);}



/*vcard*/
.vcard{font-style:normal;}
.vcard .adr{padding:1em 0}
.vcard .adr div, .vcard .adr span, .vcard .email, .vcard .tel{display:block;padding:0.5em}
.vcard .adr span{display:inline-block;}


/*quote design*/
.quoteBox1{max-width:500px;position:relative;margin:5em auto;min-height:150px;font-size:2rem;color: #333;}
.quoteBox1 p{font-weight:100}
/*.quoteBox1:before{position:absolute;top:0;font-size:350px;font-size:17em;color:#2fbfdf;font-family:Arial;font-weight:700;line-height:300px;right:-200px;content:'\201d'}*/
.quoteBox1:after{position:absolute;top:0;font-size:350px;color:#2fbfdf;font-family:Arial;font-weight:700;line-height:300px;left:-200px;content:'\201c'}
.quoteBox1 h4{display:block;color:#2fbfdf;font-weight:700;font-size:.9em}
.quoteBox1 abbr{font-size:.7em;color:#b6b6b6;font-weight:700}


