body{
	min-height: 100%;
	background-color: #fff;
	background: linear-gradient( 20deg, rgb(0,215,220) 0%, rgb(10,165,220) 100%);
	background-repeat: no-repeat;
	background-attachment: fixed;

}
#main{
	z-index: 10;
	position: relative;
	background-color: #fff;
}
#page{
	min-height: 100%;
	margin: 0;
}
.wrapper{
	padding: 5rem 0;
	font-size: 1.3em;
}

.ltr #page{
	margin-left: 5rem;
}
.rtl #page{
	margin-right: 5rem;
}
#menu{
	font-size: 1.3em;
}
.loading{
	background-color:#000306;
	height: 100%;
	width: 100%;
	min-height: 100vh;
}
.loading img{
	display:block;
	margin:0 auto;
}

#nodes{width: 100%;height: 100%;position: fixed;top: 0;bottom: 0;left: 0;right: 0;overflow: hidden;z-index: 1;}




// Quran
.Quran{
	font-size: 1.4em;
}
.besmellah{
	font-size: 1.5em;
	text-align: center;
	margin-bottom: 2em;
}
.ayeBox{
	margin-bottom: 1em;
}
.ayeBox:hover{
	background-color: rgba(0,200,255,0.05);
}
.ayeBox .aye{
	direction: rtl;
	text-align: right;
	line-height: 2.5em;
	transition: 0.3s;
}
.ayeBox .aye:hover{
	background-color: rgba(0,200,255,0.05);
}
.ayeBox .ayeNum{
	font-family: "Traditional Arabic", "Times New Roman";
}
.ayeBox .meta{
	display: none;
}
.ayeBox .meta abbr{
	display: none;
}



// Quran design like book
.Quran.bookTxt{
	max-width: 412px;
	margin: 0 auto;
	text-align: justify;
}
.Quran.bookTxt .ayeBox{
	display: inline;
}
.Quran.bookTxt .ayeBox .aye{
	display: inline;
}
.Quran.bookTxt .ayeBox .aye:hover{
	background-color: initial;
}
.Quran .readerMode{
	font-size: 2em;
	line-height: 1.7em;
	direction: rtl;
	text-align: center;
}

/*vcard*/
.vcard{font-style:normal;}
.vcard .adr{padding:1em 0}
.vcard .adr div, .vcard .adr span, .vcard .email, .vcard .tel{display:block;padding:0.5em}
.vcard .adr span{display:inline-block;}


