#header{
	-webkit-touch-callout:none;
	-webkit-user-select:none;
	-khtml-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	user-select:none;
	cursor:default;
	font-size: 1.3em;
	position: relative;
	z-index: 10;
  	// background-color: rgba(0,0,0,0.2);
	color: #fff;
	min-height: 400px;
}
.topnav{
	padding-top: 60px;
}
.topnav h1{
	margin:0;
}
.topnav h1 a{
	display: block;
	line-height: 40px;
	margin: 0 10px;
	color: rgba(255,255,255,0.8);
	transition: color 0.3s;
}
.topnav h1 a:hover{
	color: rgba(255,255,255,1);
}
.topnav h1 a:focus{
	color: rgba(255,255,255,0.9);
}
.topnav h1 a img{
	width: 40px;
	height: 40px;
	margin: 0 10px;
	vertical-align: middle;
}
.topnav .links a{
	display: inline-block;
	line-height: 40px;
	padding: 0 2em;
	margin: 0 0.5em;
	transition: 0.3s;
	color: rgba(255,255,255,0.8);
	border-radius: 3px;
}
.topnav .links a.special{
	background-color: rgba(255, 255, 255, 0.07);
	border: 1px solid #fff;
	font-weight: 900;
	line-height: 38px;
}
.topnav .links a:hover{
	background-color: rgba(255, 255, 255, 0.1);
	color: rgba(255,255,255,1);
}
.topnav h1 a:focus{
	color: rgba(255,255,255,0.9);
}

.topTitle{
	padding: 100px 1.5rem 40px;
	text-align: center;
	overflow:hidden;
}
.topTitle h2{
	font-weight: 900;
	font-size: 4em;
	line-height: 100px;
	margin: 0;
}
body[data-page="home"] .topTitle h2{
	font-size: 6em;
}
.topTitle h3{
	font-size: 1.4em;
	line-height: 30px;
	font-weight: 100;
	margin: 0;
}
body[data-page="home"] .topTitle h3{
	font-size: 1.7em;
}




// sidenavHandler
.sidenavHandler{
	width: 50px;
	min-width: 50px!important;
	max-width: 50px!important;
	height: 50px;
	line-height: 50px;
	display: block;
	color: #eee;
	padding: 1.5rem 1rem;
	transition: 0.3s;
	cursor: pointer !important;
	vertical-align: middle;
}
.sidenavHandler:hover{
	color: #fff;
	background-color: rgba(0,0,0,0.5);
}
.sidenavHandler:before,
.sidenavHandler:after
{
	content: '';
	display: block;
	background: #eee;
	height: 2px;
}
.sidenavHandler span{
	background: #eee;
	display: block;
	height: 2px;
	margin: 6px 0;
}
#header .sidenavHandler{
	display: none;
	background-color: rgba(255,255,255,0.1);
	border-radius: 0.25rem;
	margin-top: -10px;
}


