#header{
	height: 50px;
	background-color: #eee;
	-webkit-touch-callout:none;
	-webkit-user-select:none;
	-khtml-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	user-select:none;
	cursor:default;
}

// sidenavHandler
.sidenavHandler
{
	width: 5rem;
	height: 5rem;
	line-height: 5rem;
	display: block;
	color: #777;
	padding: 1.5rem 1rem;
	transition: 0.3s;
	cursor: pointer !important;
}
.sidenavHandler:hover
{
	color: #aaa;
	background-color: rgba(0,0,0,0.5);
}
.sidenavHandler:before,
.sidenavHandler:after
{
	content: '';
	display: block;
	background: #aaa;
	height: 2px;
}
.sidenavHandler span
{
	background: #aaa;
	display: block;
	height: 2px;
	margin: 6px 0;
}


