
#soreha{
	padding: 3em 0;
}
#soreha h2{
	color: #aaa;
	font-size: 1.5em;
	line-height: 2em;
	margin-bottom: 1em;
}
#soreha > .c3{
	transition: 0.3s;
}
#soreha > .c3:hover{
	background-color: #f9f9f9;
	border-radius: 0.5rem;
}

#soreha a{
	transition: 0.3s;
	padding: 1rem 1rem;
	-webkit-box-align:center!important;-webkit-align-items:center!important;-ms-flex-align:center!important;-moz-box-align:center!important;align-items:center!important;
}
#soreha a:hover{
	background-color: #eee;
}
#soreha .c1{
	color: #ccc;
}
#soreha .c4{
	text-align: right;
}
#soreha .c7 span{
	display: block;
	font-size: 1.3em;
	line-height: 1.5em;
	font-weight: 700;
}
#soreha .c7 abbr{
	display: block;
}

