
// Quran
.Quran{

}
#chooseQari.dropdown{
    cursor: pointer;
    display: inline-block;
    min-height: 1em;
    outline: 0;
    border: none;
    vertical-align: baseline;
    background: #e0e1e2;
    color: rgba(0,0,0,.6);
    margin: 0;
    padding: 0 10px 0 50px;
    text-transform: none;
    text-shadow: none;
    font-weight: 700;
    height: 36px;
	line-height: 36px;
    font-style: normal;
    text-decoration: none;
    border-radius: .28rem;
    transition: 0.3s;
    min-width: 290px;
}
#chooseQari.dropdown:hover{
	background-color: #ddd;
}
#chooseQari.dropdown > .text{
	display: block;
	height: 36px;
	line-height: 36px;
	min-width: 230px;
	overflow: hidden;
	position: relative;
}
#chooseQari.dropdown > .text span{
    display: inline-block;
    height: 36px;
    line-height: 25px;
	min-width: 190px;
    overflow: hidden;
    vertical-align: middle;
    text-overflow: ellipsis;
    white-space: nowrap;
}
#chooseQari.dropdown > .text span.type{
	height: 10px;
    line-height: 10px;
	color: #999;
	font-size: 0.8em;
	position: absolute;
	bottom: 5px;
	right: 10px;
	left:40px;
}
.rtl #chooseQari.dropdown > .text span.type{
	right:40px;
}
#chooseQari > i{
    position: absolute;
    width: 36px;
    height: 36px;
    line-height: 36px;
    font-size: 1.5em;
    border-radius: 0;
    border-top-left-radius: inherit;
    border-bottom-left-radius: inherit;
    text-align: center;
    margin: 0;
    background-color: rgba(0,0,0,.05);
    top:0;
    left: 0;
}
.ui.dropdown .menu > .header{
	line-height: 20px;
}
#chooseQari.dropdown .item .type{
	float: right;
	color: #999;
}
.rtl #chooseQari.dropdown .item .type{
	float: left;
}

.besmellah{
	font-size: 1.5em;
	text-align: center;
	margin-bottom: 2em;
}
.ayeBox{
    position: relative;
    transition: 0.3s;
    padding: 1em 1.5em;
    margin-bottom: 1em;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    min-height: 1em;
    line-height: 1.5;
    opacity: 0.7;
    background-color: #f7f7f7;
    color: #333;
}
.ayeBox:hover{
	background-color: rgba(0,200,255,0.05);
	border-color: rgba(0,0,0,0.2);
}
.ayeBox.active{
	background-color: rgba(0,200,255,0.05);
	border-color: #2080d0;
}
.ayeBox .aye{
	font-size: 1.4em;
	direction: rtl;
	text-align: right;
	line-height: 2.5em;
	transition: 0.3s;
}
.ayeBox .aye:hover{
	background-color: rgba(0,200,255,0.05);
}
.ayeBox .aye span{
	cursor: help;
	display: inline-block;
	padding:0 1px;
	transition: 0.3s;
}
.ayeBox .aye span:hover{
	color:#07b7dd;
}
.ayeBox .aye .ayeNum{
	font-family: "Traditional Arabic", "Times New Roman";
	letter-spacing: 2px;
    color: #777;
}
.ayeBox .ayeSimple{
	direction: rtl;
	text-align: right;
	display: none;
}
.ayeBox .translate .badge{
	margin:0 5px;
	padding: 3px 10px;
}
.ayeBox .translate blockquote{
	margin-bottom: 0.5em;
}
.ayeBox .translate .flag{
	margin: 0 5px;
}
.ayeBox .meta{
	width: 70px;
}
.ayeBox .meta .opr{
	min-width: 60px;
	display: block;
	background-color: #eee;
	transition: 0.3s;
	line-height: 30px;
	font-size: 0.8em;
	padding: 0;
	margin-bottom: 5px;
	cursor: pointer;
	text-align: center;
	overflow: hidden;
	user-select:none;
}
.ayeBox .meta .opr:hover{
	background-color: #e5e5f5;
}
.ayeBox .meta .opr:focus{
	background-color: #ddd;
}
.ayeBox .meta .c12:last-child .opr{
	margin-bottom: 0;
}
.ayeBox .meta a.opr{
	font-family: monospace;
}
.ayeBox .meta .opr.play::before{
	content: "\e110";
	font-family: "siftal","tahoma" !important;
	display: inline-block;
	vertical-align: middle;
	transition: none;
	margin:0 5px;
}
.ayeBox .meta .opr.play::after{
	content: attr(data-play);
	display: inline-block;
	vertical-align: middle;
	transition: none;
}
.ayeBox[data-playing] .meta .opr.play::before{
	content: "\e232";
	font-family: "siftal","tahoma" !important;
	display: inline-block;
}
.ayeBox[data-playing] .meta .opr.play::after{
	content: attr(data-pause);
	display: inline-block;
}
.ayeBox .meta .opr.copy::before{
	content: "\75";
	font-family: "siftal","tahoma" !important;
	display: inline-block;
	vertical-align: middle;
	transition: none;
	margin:0 5px;
}
.ayeBox .meta .opr span{
	display: inline-block;
	margin:0 5px;
}
.ayeBox .meta input{
  padding:0;
  margin:0;
  position:absolute;
  z-index:-1;
  width:5px;
  height:0;
  opacity:0;
}


// Quran design like book
.Quran.bookTxt{
	max-width: 412px;
	margin: 0 auto;
	text-align: justify;
}
.Quran.bookTxt .ayeBox{
	display: inline;
}
.Quran.bookTxt .ayeBox .aye{
	display: inline;
}
.Quran.bookTxt .ayeBox .aye:hover{
	background-color: initial;
}
.Quran .readerMode{
	font-size: 2em;
	line-height: 1.7em;
	direction: rtl;
	text-align: center;
}

