{%extends display.main%}



{%block page%}



{%if dataTable%}
 {%if dataFilter%}

  {{block('htmlTable')}}
  {{block('htmlFilter')}}

 {%else%}

  {{block('htmlTable')}}

 {%endif%}
{%else%}
 {%if dataFilter%}

  {{block('htmlFilterNoResult')}}

 {%else%}

  {{block('htmlStartAddNew')}}

 {%endif%}
{%endif%}

{%endblock%}





{%block htmlTable%}

  <table class="tbl1 v9 ">
    <thead>
      <tr>
        <th class="collapsing">#</th>
        <th class="collapsing">&nbsp;</th>
        <th data-sort="{{sortLink.qari.order}}"><a href="{{sortLink.qari.link}}">{%trans "Qari"%}</a></th>
        <th data-sort="{{sortLink.type.order}}"><a href="{{sortLink.type.link}}">{%trans "Type"%}</a></th>
        <th data-sort="{{sortLink.readtype.order}}"><a href="{{sortLink.readtype.link}}">{%trans "Read type"%}</a></th>
        <th data-sort="{{sortLink.filetype.order}}"><a href="{{sortLink.filetype.link}}">{%trans "file type"%}</a></th>
        <th data-sort="{{sortLink.country.order}}"><a href="{{sortLink.country.link}}">{%trans "Country"%}</a></th>
        <th data-sort="{{sortLink.quality.order}}"><a href="{{sortLink.quality.link}}">{%trans "Quality"%}</a></th>
        <th data-sort="{{sortLink.addr.order}}"><a href="{{sortLink.addr.link}}">{%trans "Addr"%}</a></th>

      </tr>
    </thead>

    <tbody>
      {%for key, value in dataTable%}
      <tr>
        <td>{{(key + 1) | fitNumber}}</td>
        <td><img src="{{value.avatar}}" class="avatar"></td>
        <td>{%set myqari = value.qari%}{%trans myqari%}</td>
        <td>{%set mytype = value.type%}{%trans mytype%}</td>
        <td>{%set myreadtype = value.readtype%}{%trans myreadtype%}</td>
        <td>{{value.filetype}}</td>
        <td>{{value.location_string}}</td>
        <td>{{value.quality | fitNumber}}</td>
        <td>{{value.addr}}</td>

      </tr>
      {%endfor%}
    </tbody>
  </table>
  {%include display.pagination%}

{%endblock%}


{%block htmlFilter%}
<p class="f fs14 msg info2">
  <span class="c">{{dataFilter | raw}}</span>
  <a class="cauto" href="{{url.this}}">{%trans "Clear filters"%}</a>
</p>
{%endblock%}


{%block htmlFilterNoResult%}
<p class="f fs14 msg warn2">
  <span class="c">{%trans "Result not found!"%} {%trans "Search with new keywords."%}</span>
  <a class="cauto" href="{{url.this}}">{%trans "Clear filters"%}</a>
</p>
{%endblock%}

