{%extends display.main%}



{%block page%}

<div class="f txtC fs08">
  <div class="c2 s6">
    <a href="{{url.this}}/mansori">
      <img src="{{url.static}}/images/qariyan/mansori.png" alt='{%trans "Quran Qari"%} {%trans "mansori"%}'>
      <h3>{%trans "mansori"%}</h3>
    </a>
  </div>

  <div class="c2 s6">
    <a href="{{url.this}}/parhizgar">
      <img src="{{url.static}}/images/qariyan/parhizgar.png" alt='{%trans "Quran Qari"%} {%trans "parhizgar"%}'>
      <h3>{%trans "parhizgar"%}</h3>
    </a>
  </div>

  <div class="c2 s6">
    <a href="{{url.this}}/menshawi">
      <img src="{{url.static}}/images/qariyan/menshawi.png" alt='{%trans "Quran Qari"%} {%trans "menshawi"%}'>
      <h3>{%trans "menshawi"%}</h3>
    </a>
  </div>

  <div class="c2 s6">
    <a href="{{url.this}}/sudais">
      <img src="{{url.static}}/images/qariyan/sudais.png" alt='{%trans "Quran Qari"%} {%trans "sudais"%}'>
      <h3>{%trans "sudais"%}</h3>
    </a>
  </div>

  <div class="c2 s6">
    <a href="{{url.this}}/basit">
      <img src="{{url.static}}/images/qariyan/basit.png" alt='{%trans "Quran Qari"%} {%trans "basit"%}'>
      <h3>{%trans "basit"%}</h3>
    </a>
  </div>

  <div class="c2 s6">
    <a href="{{url.this}}/husary">
      <img src="{{url.static}}/images/qariyan/husary.png" alt='{%trans "Quran Qari"%} {%trans "husary"%}'>
      <h3>{%trans "husary"%}</h3>
    </a>
  </div>

</div>


{%endblock%}

