/*global style*/
body{background-color:#eee;font-family:-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;color:#333;min-height:100%}
body::after{content:"";background:url(https://ermile.com/static/images/logo.png);background-size:cover;height:200px;width:200px;position:fixed;bottom:3rem;right:3rem;opacity:.3}
a{text-decoration:none;color:#044f9e}
h1{display:none}
/*table style*/
pre{position:relative;font-size:1.5em;line-height:1.8em;margin:10vh auto;width:80%;box-shadow:0 1px 3px rgba(0,0,0,0.2);text-align:left;border:2px solid #34c2c7;border-radius:3px;}
pre a{height:35px;line-height:35px;font-weight:700;display:inline-block;padding:0 2em}
pre a:before{content:"";right:0;left:0;height:35px;position:absolute;background:#f6f6f6;z-index:-1;transition:0.3s}
pre a:nth-of-type(odd):before{background:#e9e9e9}
pre a:hover:before{background-color:rgba(52,194,199,0.2);cursor:default}

hr{display:none;}