@media (max-width: 767px) {
	.ltr #page{margin-left: 0;}
	.rtl #page{margin-right: 0;}
	.ltr #sidebar{left: -51px;}
	.rtl #sidebar{right: -51px;}
	#header {min-height: auto;}
	#header .sidenavHandler{display: inline-block;}
	#header .links a{display: none;}

	.topTitle{padding:50px 10px 40px; }
	.topTitle h2{font-size: 2em!important;line-height:2em;}
	.topTitle h3{font-size: 1.4em!important;}

	#soreha a{
		padding: 0.5rem 1rem;
	}
	#soreha .c7 span{
		display: inline-block;
	}
	.ltr #soreha .c7 span{
		margin-right: 0.5em;
	}
	.rtl #soreha .c7 span{
		margin-left: 0.5em;
	}
	#soreha .c7 abbr{
		display: inline-block;
	}

	// quran
	.Quran .ui.dropdown{
		padding: 0 10px 0 40px;
	}
	.bismillah{
		font-size: 3.3em;
	}
	.ayeBox{
		padding: 0.5em;
	}
	.ayeBox .aye{
		font-size: 1.2em;
	}
	.ayeBox .aye[data-style='uthmani']{
	    font-size: 1.5em;
	    line-height: 2.5em;
	}
	.ayeBox .meta{
		width: 100%;
	}
	.ayeBox .meta .opr{
		margin: 0 2px!important;
	}
	.ayeBox .translate .v5 th{
		display: block;
		padding: 0.5em!important;
	}
	.ayeBox .translate .v5 td{
		display: block;
		padding: 0.5em!important;
	}

	// player
	.player{
		left: 0!important;
		right: 0!important;
		height: 40px;
		max-height: 40px;
	}
	.player .qari figcaption{
		display: none;
	}
	.player .qari img{
		height: 36px;
		width: 36px;
		margin: 2px;
	}
	.player audio{
		padding: 0 3px;
		margin:2px 0;
		height: 36px;
		max-height: 36px;
	}
}
