{%extends display.main%}


{%block page%}

    <p>{%trans "We are define below missions for SalamQuran on start of project and extend it later."%}</p>

    <ul class="list">
    	<li class='msg'>{%trans "Collect all original and valid information about Quran like Qiraats, translations and ..."%}</li>
    	<li class='msg'>{%trans "Helping Quranic activists to better publish the Quran in the electronic world"%}</li>
    	<li class='msg'>{%trans "Facilitate Muslim access to the main source of Islam"%}</li>
    	<li class='msg'>{%trans "Helping Quran educators and distributing valid Quranic educational resources"%}</li>
    </ul>

{%endblock%}

