
/* bismillah fotn*/
@font-face{font-family:bismillah;src:url(../fonts/bismillah/bismillah.eot);src:url(../fonts/bismillah/bismillah.eot) format("embedded-opentype"),url(../fonts/bismillah/bismillah.ttf) format("truetype"),url(../fonts/bismillah/bismillah.woff) format("woff"),url(../images/bismillah/bismillah.svg) format("svg");font-weight:400;font-style:normal}
.bismillah {
    font-family: bismillah;
    font-size: 6em;
    text-align: center;
    color: #000;
    padding: 25px 0;
    margin-bottom: 2rem;
}
